@page
@{
    ViewData["Title"] = "Бронирование успешно!";
}

<div class="container mt-4">
    <h2><span style="color: #17a2b8;">Б</span>ронирование успешно оформлено!</h2>
    <p>Спасибо за ваше бронирование. Мы свяжемся с вами для подтверждения деталей.</p>
    <a asp-page="/Index" class="btn btn-info mt-2">На главную</a>
</div>